In [1]:
from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark.sql.functions import col, dayofmonth, month, year
from pyspark.ml.feature import OneHotEncoder, StringIndexer
from pyspark.sql.types import DateType
sc = SparkContext('local', 'test')
master_url = "spark://spark-master:7077"
spark = SparkSession \
    .builder \
    .appName("AppName") \
    .master(master_url) \
    .getOrCreate()

In [2]:
spark.sql("SELECT 1")

DataFrame[1: int]

In [3]:
df = spark.read.csv("cvas_data.csv", header=True, inferSchema=True)

In [4]:
print(df.schema)
df.show(10)

StructType([StructField('customer_ID', IntegerType(), True), StructField('loan_date', StringType(), True), StructField('amount', IntegerType(), True), StructField('fee', IntegerType(), True), StructField('loan_status', IntegerType(), True), StructField('term', StringType(), True), StructField('annual_income', IntegerType(), True)])
+-----------+----------+------+---+-----------+-----+-------------+
|customer_ID| loan_date|amount|fee|loan_status| term|annual_income|
+-----------+----------+------+---+-----------+-----+-------------+
|        124|23/06/2021|   785|173|          0|short|        69246|
|        125|  2/3/2020|  2626|124|          0|short|        77110|
|        296|17/08/2020|  2003| 24|          0|short|        41557|
|        447|18/12/2019|   438|168|          1| long|        62868|
|        451|  9/1/2020|   284|169|          1|short|        51834|
|        467| 9/10/2020|  2995|140|          0| long|        69972|
|        467|26/04/2019|  1124|192|          0|short|        69972|
|        467|14/10/2021|  1871|189|          1|short|        69972|
|        666|18/07/2021|  1687|189|          1| long|        42456|
|        675|15/09/2019|   826| 53|          0| long|        32965|
+-----------+----------+------+---+-----------+-----+-------------+
only showing top 10 rows

In [6]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

func =  udf (lambda x: datetime.strptime(x, '%d/%m/%Y'), DateType())

df = df.withColumn('date', func(col('loan_date')))

df.show()

+-----------+----------+------+---+-----------+-----+-------------+----------+
|customer_ID| loan_date|amount|fee|loan_status| term|annual_income|      date|
+-----------+----------+------+---+-----------+-----+-------------+----------+
|        124|23/06/2021|   785|173|          0|short|        69246|2021-06-23|
|        125|  2/3/2020|  2626|124|          0|short|        77110|2020-03-02|
|        296|17/08/2020|  2003| 24|          0|short|        41557|2020-08-17|
|        447|18/12/2019|   438|168|          1| long|        62868|2019-12-18|
|        451|  9/1/2020|   284|169|          1|short|        51834|2020-01-09|
|        467| 9/10/2020|  2995|140|          0| long|        69972|2020-10-09|
|        467|26/04/2019|  1124|192|          0|short|        69972|2019-04-26|
|        467|14/10/2021|  1871|189|          1|short|        69972|2021-10-14|
|        666|18/07/2021|  1687|189|          1| long|        42456|2021-07-18|
|        675|15/09/2019|   826| 53|          0| long|        32965|2019-09-15|
|        675|31/08/2021|  1425|199|          1| long|        32965|2021-08-31|
|        675|27/01/2021|  2678|100|          0| long|        32965|2021-01-27|
|        691|  9/6/2020|   188| 80|          0| long|        44557|2020-06-09|
|        800|  8/4/2019|  1691| 22|          0| long|        49583|2019-04-08|
|        829|29/07/2019|  2905| 54|          0|short|        39613|2019-07-29|
|        853|23/12/2021|  1603|139|          0| long|        79823|2021-12-23|
|        870|  3/9/2021|  2892| 46|          0| long|        54335|2021-09-03|
|        919|18/10/2019|   453| 62|          1| long|        79307|2019-10-18|
|        919| 11/1/2019|  1306| 24|          1| long|        79307|2019-01-11|
|        926|20/01/2022|   926| 35|          1|short|        56935|2022-01-20|
+-----------+----------+------+---+-----------+-----+-------------+----------+
only showing top 20 rows

In [7]:
df = df.withColumn("date", df["date"].cast(DateType()))

# Extract relevant date components (day, month, year)
df = df.withColumn("day", dayofmonth("date"))
df = df.withColumn("month", month("date"))
df = df.withColumn("year", year("date"))

In [8]:
df.show()

+-----------+----------+------+---+-----------+-----+-------------+----------+---+-----+----+
|customer_ID| loan_date|amount|fee|loan_status| term|annual_income|      date|day|month|year|
+-----------+----------+------+---+-----------+-----+-------------+----------+---+-----+----+
|        124|23/06/2021|   785|173|          0|short|        69246|2021-06-23| 23|    6|2021|
|        125|  2/3/2020|  2626|124|          0|short|        77110|2020-03-02|  2|    3|2020|
|        296|17/08/2020|  2003| 24|          0|short|        41557|2020-08-17| 17|    8|2020|
|        447|18/12/2019|   438|168|          1| long|        62868|2019-12-18| 18|   12|2019|
|        451|  9/1/2020|   284|169|          1|short|        51834|2020-01-09|  9|    1|2020|
|        467| 9/10/2020|  2995|140|          0| long|        69972|2020-10-09|  9|   10|2020|
|        467|26/04/2019|  1124|192|          0|short|        69972|2019-04-26| 26|    4|2019|
|        467|14/10/2021|  1871|189|          1|short|        69972|2021-10-14| 14|   10|2021|
|        666|18/07/2021|  1687|189|          1| long|        42456|2021-07-18| 18|    7|2021|
|        675|15/09/2019|   826| 53|          0| long|        32965|2019-09-15| 15|    9|2019|
|        675|31/08/2021|  1425|199|          1| long|        32965|2021-08-31| 31|    8|2021|
|        675|27/01/2021|  2678|100|          0| long|        32965|2021-01-27| 27|    1|2021|
|        691|  9/6/2020|   188| 80|          0| long|        44557|2020-06-09|  9|    6|2020|
|        800|  8/4/2019|  1691| 22|          0| long|        49583|2019-04-08|  8|    4|2019|
|        829|29/07/2019|  2905| 54|          0|short|        39613|2019-07-29| 29|    7|2019|
|        853|23/12/2021|  1603|139|          0| long|        79823|2021-12-23| 23|   12|2021|
|        870|  3/9/2021|  2892| 46|          0| long|        54335|2021-09-03|  3|    9|2021|
|        919|18/10/2019|   453| 62|          1| long|        79307|2019-10-18| 18|   10|2019|
|        919| 11/1/2019|  1306| 24|          1| long|        79307|2019-01-11| 11|    1|2019|
|        926|20/01/2022|   926| 35|          1|short|        56935|2022-01-20| 20|    1|2022|
+-----------+----------+------+---+-----------+-----+-------------+----------+---+-----+----+
only showing top 20 rows

In [9]:
# Use StringIndexer to index the day, month, and year columns
indexer_day = StringIndexer(inputCol="day", outputCol="day_index")
indexer_month = StringIndexer(inputCol="month", outputCol="month_index")
indexer_year = StringIndexer(inputCol="year", outputCol="year_index")
indexer_term = StringIndexer(inputCol="term", outputCol="term_index")

In [10]:
# Apply OneHotEncoder to the indexed columns
encoder = OneHotEncoder(inputCols=["day_index", "month_index", "year_index", "term_index"],
                        outputCols=["day_encoded", "month_encoded", "year_encoded", "term_encoded"])

In [11]:
print(type(df))
df = indexer_day.fit(df).transform(df)
df = indexer_month.fit(df).transform(df)
df = indexer_year.fit(df).transform(df)
df = indexer_term.fit(df).transform(df)

<class 'pyspark.sql.dataframe.DataFrame'>

In [12]:
model = encoder.fit(df)
df_encoded = model.transform(df)
output_path = "output.parquet"
df_encoded.select("customer_ID","day_encoded", "month_encoded", "year_encoded", "amount", "fee", "loan_status", "term_encoded).write.parquet(output_path, mode="overwrite")
# Show the resulting DataFrame
df_encoded.show()

+-----------+----------+------+---+-----------+-----+-------------+----------+---+-----+----+---------+-----------+----------+----------+---------------+---------------+-------------+-------------+
|customer_ID| loan_date|amount|fee|loan_status| term|annual_income|      date|day|month|year|day_index|month_index|year_index|term_index|    day_encoded|  month_encoded| year_encoded| term_encoded|
+-----------+----------+------+---+-----------+-----+-------------+----------+---+-----+----+---------+-----------+----------+----------+---------------+---------------+-------------+-------------+
|        124|23/06/2021|   785|173|          0|short|        69246|2021-06-23| 23|    6|2021|      4.0|        5.0|       0.0|       0.0| (30,[4],[1.0])| (11,[5],[1.0])|(3,[0],[1.0])|(1,[0],[1.0])|
|        125|  2/3/2020|  2626|124|          0|short|        77110|2020-03-02|  2|    3|2020|     12.0|        8.0|       2.0|       0.0|(30,[12],[1.0])| (11,[8],[1.0])|(3,[2],[1.0])|(1,[0],[1.0])|
|        296|17/08/2020|  2003| 24|          0|short|        41557|2020-08-17| 17|    8|2020|      3.0|       11.0|       2.0|       0.0| (30,[3],[1.0])|     (11,[],[])|(3,[2],[1.0])|(1,[0],[1.0])|
|        447|18/12/2019|   438|168|          1| long|        62868|2019-12-18| 18|   12|2019|      1.0|       10.0|       1.0|       1.0| (30,[1],[1.0])|(11,[10],[1.0])|(3,[1],[1.0])|    (1,[],[])|
|        451|  9/1/2020|   284|169|          1|short|        51834|2020-01-09|  9|    1|2020|      5.0|        2.0|       2.0|       0.0| (30,[5],[1.0])| (11,[2],[1.0])|(3,[2],[1.0])|(1,[0],[1.0])|
|        467| 9/10/2020|  2995|140|          0| long|        69972|2020-10-09|  9|   10|2020|      5.0|        3.0|       2.0|       1.0| (30,[5],[1.0])| (11,[3],[1.0])|(3,[2],[1.0])|    (1,[],[])|
|        467|26/04/2019|  1124|192|          0|short|        69972|2019-04-26| 26|    4|2019|      2.0|        4.0|       1.0|       0.0| (30,[2],[1.0])| (11,[4],[1.0])|(3,[1],[1.0])|(1,[0],[1.0])|
|        467|14/10/2021|  1871|189|          1|short|        69972|2021-10-14| 14|   10|2021|     25.0|        3.0|       0.0|       0.0|(30,[25],[1.0])| (11,[3],[1.0])|(3,[0],[1.0])|(1,[0],[1.0])|
|        666|18/07/2021|  1687|189|          1| long|        42456|2021-07-18| 18|    7|2021|      1.0|        1.0|       0.0|       1.0| (30,[1],[1.0])| (11,[1],[1.0])|(3,[0],[1.0])|    (1,[],[])|
|        675|15/09/2019|   826| 53|          0| long|        32965|2019-09-15| 15|    9|2019|     11.0|        7.0|       1.0|       1.0|(30,[11],[1.0])| (11,[7],[1.0])|(3,[1],[1.0])|    (1,[],[])|
|        675|31/08/2021|  1425|199|          1| long|        32965|2021-08-31| 31|    8|2021|      9.0|       11.0|       0.0|       1.0| (30,[9],[1.0])|     (11,[],[])|(3,[0],[1.0])|    (1,[],[])|
|        675|27/01/2021|  2678|100|          0| long|        32965|2021-01-27| 27|    1|2021|      6.0|        2.0|       0.0|       1.0| (30,[6],[1.0])| (11,[2],[1.0])|(3,[0],[1.0])|    (1,[],[])|
|        691|  9/6/2020|   188| 80|          0| long|        44557|2020-06-09|  9|    6|2020|      5.0|        5.0|       2.0|       1.0| (30,[5],[1.0])| (11,[5],[1.0])|(3,[2],[1.0])|    (1,[],[])|
|        800|  8/4/2019|  1691| 22|          0| long|        49583|2019-04-08|  8|    4|2019|     30.0|        4.0|       1.0|       1.0|     (30,[],[])| (11,[4],[1.0])|(3,[1],[1.0])|    (1,[],[])|
|        829|29/07/2019|  2905| 54|          0|short|        39613|2019-07-29| 29|    7|2019|     15.0|        1.0|       1.0|       0.0|(30,[15],[1.0])| (11,[1],[1.0])|(3,[1],[1.0])|(1,[0],[1.0])|
|        853|23/12/2021|  1603|139|          0| long|        79823|2021-12-23| 23|   12|2021|      4.0|       10.0|       0.0|       1.0| (30,[4],[1.0])|(11,[10],[1.0])|(3,[0],[1.0])|    (1,[],[])|
|        870|  3/9/2021|  2892| 46|          0| long|        54335|2021-09-03|  3|    9|2021|      7.0|        7.0|       0.0|       1.0| (30,[7],[1.0])| (11,[7],[1.0])|(3,[0],[1.0])|    (1,[],[])|
|        919|18/10/2019|   453| 62|          1| long|        79307|2019-10-18| 18|   10|2019|      1.0|        3.0|       1.0|       1.0| (30,[1],[1.0])| (11,[3],[1.0])|(3,[1],[1.0])|    (1,[],[])|
|        919| 11/1/2019|  1306| 24|          1| long|        79307|2019-01-11| 11|    1|2019|     10.0|        2.0|       1.0|       1.0|(30,[10],[1.0])| (11,[2],[1.0])|(3,[1],[1.0])|    (1,[],[])|
|        926|20/01/2022|   926| 35|          1|short|        56935|2022-01-20| 20|    1|2022|     13.0|        2.0|       3.0|       0.0|(30,[13],[1.0])| (11,[2],[1.0])|    (3,[],[])|(1,[0],[1.0])|
+-----------+----------+------+---+-----------+-----+-------------+----------+---+-----+----+---------+-----------+----------+----------+---------------+---------------+-------------+-------------+
only showing top 20 rows